<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body style="background-color:cornflowerblue">

    <!-- Header -->
    <header>
        <h1 style="text-align:center; color:white">My Blue  Layout Page</h1>
        <img src="~/images/logo.png" style="width:100px; height:120px" />
    </header>
    <!-- End of Header -->
    <!-- Left Sidebar -->
    <nav>
        <h3>Navigation</h3>
        <a asp-controller="home" asp-action="About">About</a>
        <a asp-controller="home" asp-action="Contact">Contact</a>
        <a asp-controller="home" asp-action="Enquery">Enquiry</a>
    </nav>
    <!-- End of Left Sidebar -->
    <!-- Content Body -->
    <div class="content">
        @RenderBody()
    </div>

    <div style="background-color:rebeccapurple; color:antiquewhite; font-weight:bold">
        @RenderSection("Note", false)
    </div>
    <!-- End of Content Body -->
    <!-- Footer -->
    <footer>
        <h4>I am Footer.</h4>
        <div style="background-color:red; color:aliceblue">@RenderSection("Footer", false)</div>
    </footer>
    @RenderSection("Scripts", required: false)
    <!-- Style -->
    <style>
        header {
            height: 100px;
            width: 100%;
            background-color: red;
        }

        nav {
            float: left;
            width: 200px;
            height: 250px;
            background-color: darkgoldenrod;
        }

        .content {
            background-color: aliceblue;
            padding: 20px;
        }

        footer {
            background-color: green;
            width: 100%;
            height: 50px;
            float: right;
            text-align: center;
        }
    </style>
</body>
</html>